* {
    box-sizing: border-box;
}

header {
    font-size: 150%;
    padding-top: 20px;
    padding-left: 1em;
    text-align: center;
    height: 150px;
    background-color: #000a97;
    color: #33cc2d;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: right;


}

body {
    background-color: #b3b3b3;
    color: #0C233F;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-weight: bold;
    float: left;
    padding: 1em;
    width: 180px;
}

nav ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    font-size: 150%;
}

nav a {
    text-decoration: none;
    transition: background-color 2s linear;

}

nav a:link {
    color: rgb(2, 33, 105);
}

nav a:visited {
    color: #1e52cc;
}

nav a:hover {
    color: #b40303;
}

h1 {
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
}

h2 {
    color: #14293d;
    font-family: "Times New Roman", Times, serif;
}

footer {
    color: rgb(2, 33, 105);
    font-style: italic;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background-color: #dddcdc;
    margin-left: 155px;
}

div {
    font-size: 90%;
    font-weight: bold;
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-left: 155px;
    display: block;
    overflow: auto;
    background-color: #dddcdc;
}

#wrapper {
    width: 90%;
    background-color: #1b75a1;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 2px 2px 2px #333333;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: #010103;
    border-style: solid;
    background-image: linear-gradient(to bottom, #b0bcff, #001e72);
}

#home-hero {
    height: 40%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#services-hero {
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 3px solid;
    border-color: #096492;
    border-collapse: collapse;

}

td {
    padding: 0.5em;
    border: 3px solid;
    border-color: #096492;
    text-align: center;
}

th {
    padding: .5em;
    border: 3px solid;
    border-color: #096492;
}

.text {
    text-align: center;
}

tr:nth-of-type(odd) {
    background-color: #6dceff;
}

label {
    float: left;
    display: block;
    width: 140px;
    padding-right: 5px;
    text-align: right;
}

textarea {
    display: block;
    margin-bottom: 30px;
}

input[type="submit"] {
    margin-left: 140px;
}

input {
    display: block;
    margin-bottom: 30px;
}
